{% extends "layout.html" %}
{% block body %}

<div class="block1">
  <h1>Geocoder V0.1.0</h1>
  <br>
  <h2>About</h2>
  <br>
  <h4>
    <p align="left" style="padding: 0 500">How to use the Geocoder: </p>
    <ol class="about">
      <li>Make sure you have Python 3.5 installed with pip. The instructions for their installation are in C:\Analytics\Software\Phyton\Python35</li>
      <li>Run the bat file run.bat</li>
      <li>When the program promps you, upload the csv file of addresses/postalcodes you wish to geocode in the format specified</li>
      <li>Wait through the loading screen; a time estimate is dispalyed</il>
      <li>Download the file with the "download!" button </il>
    </ol>
    <p align="left" style="padding: 0 500">Keep in mind only 2,500 records total can be geocoded per day</p>
  </h4>
  <br>
  <br>
  <br>
  <div class="container" align="center">
    <a href="/" target="_self">return</a>
  </div>
</div>
{% endblock %}
